.contentContainer {
  height: auto;
  //background-color: #ffffff;
  min-height: 300px;
  //padding: 3% 6%;
  overflow: auto;
  margin-top: 50px;



  .verticalAlign {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
  }

  .mainBlock {
    padding-left: 0;
    //display: table;
    height: 150px;
    text-align: center;
    border: 1px solid black;

    background: #273b52;
    border-radius: 3px;
    color: #57F4FF;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.35);
    min-height: 40px;

    div:first-child {
      float: left;
      width: 50%;
      height: 100%;

      img {
        display: inline-block;
        height: 100%;
        float: left;
        width: 100%;
      }
    }

    div:last-child {
      position: relative;
      float: right;
      width: 50%;
      height: 100%;
    }


    span {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
  }
}